@page
@model MarksManagementSystem.Pages.Courses.ViewAllCoursesModel
@{
}

<h1>All Courses</h1>
<hr />


<table class="table table-boardered table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Credits</th>
            <th>Head Teacher</th>
            <th>Other Teachers</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllCoursesWithTeacher != null)
        {
            foreach (var course in Model.AllCoursesWithTeacher)
            {
                <tr>
                    <td>@course.CourseName</td>
                    <td>@course.CourseCredits</td>
                    <td>@course.HeadTeacher</td>
                    <td>@course.OtherTeachers</td>
                    <td>
                        <form asp-page-handler="delete" method="post" asp-route-id="@course.CourseId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        } 
        @if (TempData["SuccessMessage"] != null)
        {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
    </tbody>
</table>