@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="/js/table-filter.js"></script>
</head>


@{
    var hashedInitialPassword = ViewData["HashedInitialPassword"] as string;
    var currentPassword = ViewData["CurrentPassword"] as string;
    if (string.IsNullOrEmpty(hashedInitialPassword)) throw new ArgumentNullException(nameof(hashedInitialPassword));
    if (string.IsNullOrEmpty(currentPassword)) throw new ArgumentNullException(nameof(currentPassword));


    if (hashedInitialPassword == currentPassword)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Warning!</strong> You are still using the default password.
            We recommend you to change it. Here is the link -> <a asp-page="/Account/ChangePassword">Change Password</a>
        </div>
    }
}

<div class="text-center">
   
    <input type="text" class="float-lg-start" id="nameFilter" placeholder="Filter by course name" />

    @{
        if (Model.AccountClaims.AccountUserType.Equals("Tutor"))
        {
            <table class="table table-boardered table-striped">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Credits</th>
                        <th>Unit Leader</th>
                        <th>Other Tutors</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TutorTaughtCourses != null)
                    {
                        foreach (var course in Model.TutorTaughtCourses)
                        {
                            <tr class="table-row">
                                <td class="name-selector">@course.CourseName</td>
                                <td>@course.CourseCredits</td>
                                <td>@course.UnitLeader</td>
                                <td>@course.OtherTutors</td>
                                <td>
                                    <form asp-page-handler="edit" method="post" asp-route-courseId="@course.CourseId">
                                        <button type="submit" class="btn btn-primary">View Course Students</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table table-boardered table-striped">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Credits</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.StudentEnrolledCourses != null)
                    {
                        foreach (var course in Model.StudentEnrolledCourses)
                        {
                            <tr class="table-row">
                                <td class="name-selector">@course.Course.CourseName</td>
                                <td>@course.Course.CourseCredits</td>
                                <td>@course.Mark</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>

<script>
    filterTable("#nameFilter", ".table-row", ".name-selector");
</script>
