@page
@model MarksManagementSystem.Pages.Teachers.ViewAllTeachersModel
@{
}

<h1>All Teachers</h1>
<hr />

<table class="table table-boardered table-striped">
    <thead>
        <tr>
            <th>Teacher Full Name</th>
            <th>Teacher Email</th>
            <th>Course Led</th>
            <th>Other Courses</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllTeachersViewModel != null)
        {
            foreach (var teacher in Model.AllTeachersViewModel)
            {
                <tr>
                    <td>@teacher.TeacherFullName</td>
                    <td>@teacher.TeacherEmail</td>
                    <td>@teacher.CourseLed</td>
                    <td>@teacher.OtherCourses</td>
                    <td>
                        <form asp-page-handler="delete" method="post" asp-route-id="@teacher.TeacherId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
    </tbody>
</table>